# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=4.5=1_gnu
_pytorch_select=0.1=cpu_0
absl-py=1.0.0=pypi_0
addict=2.4.0=pypi_0
aiohttp=3.8.1=pypi_0
aiosignal=1.2.0=pypi_0
apex=0.1=pypi_0
argparse=1.4.0=pypi_0
async-timeout=4.0.2=pypi_0
attrs=21.4.0=pypi_0
batchgenerators=0.21=pypi_0
blas=1.0=mkl
bzip2=1.0.8=h7f98852_4
ca-certificates=2021.10.8=ha878542_0
cachetools=4.2.4=pypi_0
certifi=2021.10.8=py38h578d9bd_1
cffi=1.14.6=py38h400218f_0
charset-normalizer=2.0.9=pypi_0
cudatoolkit=11.1.1=h6406543_8
cycler=0.11.0=pypi_0
docopt=0.6.2=pypi_0
dominate=2.4.0=pypi_0
einops=0.4.1=pypi_0
et-xmlfile=1.1.0=pypi_0
ffmpeg=4.3=hf484d3e_0
fonttools=4.28.5=pypi_0
freetype=2.11.0=h70c0345_0
frozenlist=1.2.0=pypi_0
fsspec=2021.11.1=pypi_0
future=0.18.2=pypi_0
giflib=5.2.1=h7b6447c_0
gmp=6.2.1=h58526e2_0
gnutls=3.6.13=h85f3911_1
google-auth=2.3.3=pypi_0
google-auth-oauthlib=0.4.6=pypi_0
grpcio=1.43.0=pypi_0
h5py=3.5.0=pypi_0
idna=3.3=pypi_0
imageio=2.13.5=pypi_0
importlib-metadata=4.10.0=pypi_0
intel-openmp=2019.4=243
joblib=1.1.0=pypi_0
jpeg=9b=0
jsonpatch=1.32=pypi_0
jsonpointer=2.2=pypi_0
kiwisolver=1.3.2=pypi_0
lame=3.100=h7f98852_1001
lcms2=2.12=h3be6417_0
ld_impl_linux-64=2.35.1=h7274673_9
libblas=3.9.0=1_h86c2bf4_netlib
libcblas=3.9.0=5_h92ddd45_netlib
libffi=3.3=he6710b0_2
libgcc-ng=9.3.0=h5101ec6_17
libgfortran-ng=9.3.0=ha5ec8a7_17
libgfortran5=9.3.0=ha5ec8a7_17
libgomp=9.3.0=h5101ec6_17
libiconv=1.16=h516909a_0
liblapack=3.9.0=5_h92ddd45_netlib
libmklml=2019.0.5=0
libpng=1.6.37=hbc83047_0
libstdcxx-ng=9.3.0=hd4cf53a_17
libtiff=4.2.0=h85742a9_0
libuv=1.42.0=h7f98852_0
libwebp=1.2.0=h89dd481_0
libwebp-base=1.2.0=h27cfd23_0
linecache2=1.0.0=pypi_0
lz4-c=1.9.3=h295c915_1
markdown=3.3.6=pypi_0
matplotlib=3.5.1=pypi_0
medpy=0.4.0=pypi_0
mkl=2020.2=256
mmcv=1.4.2=pypi_0
multidict=5.2.0=pypi_0
ncurses=6.3=h7f8727e_2
nettle=3.6=he412f7d_0
networkx=2.6.3=pypi_0
nibabel=3.2.1=pypi_0
ninja=1.7.2=0
numpy=1.21.5=pypi_0
oauthlib=3.1.1=pypi_0
olefile=0.46=pyhd3eb1b0_0
opencv-python=4.5.5.62=pypi_0
openh264=2.1.1=h780b84a_0
openpyxl=3.0.10=pypi_0
openssl=1.1.1l=h7f8727e_0
packaging=21.3=pypi_0
pandas=1.4.1=pypi_0
pillow=8.4.0=pypi_0
pip=21.2.4=py38h06a4308_0
pipreqs=0.4.11=pypi_0
protobuf=3.19.1=pypi_0
pyasn1=0.4.8=pypi_0
pyasn1-modules=0.2.8=pypi_0
pycocotools=2.0.4=pypi_0
pycparser=2.21=pyhd3eb1b0_0
pydeprecate=0.3.1=pypi_0
pyparsing=3.0.6=pypi_0
python=3.8.12=h12debd9_0
python-dateutil=2.8.2=pypi_0
python_abi=3.8=2_cp38
pytorch=1.8.0=py3.8_cuda11.1_cudnn8.0.5_0
pytorch-lightning=1.5.7=pypi_0
pytz=2021.3=pypi_0
pywavelets=1.2.0=pypi_0
pyyaml=6.0=pypi_0
pyzmq=22.3.0=pypi_0
readline=8.1=h27cfd23_0
requests=2.26.0=pypi_0
requests-oauthlib=1.3.0=pypi_0
rsa=4.8=pypi_0
scikit-image=0.16.2=pypi_0
scikit-learn=1.0.2=pypi_0
scipy=1.7.3=pypi_0
seaborn=0.11.2=pypi_0
setuptools=58.0.4=py38h06a4308_0
simpleitk=2.1.1=pypi_0
six=1.16.0=pyhd3eb1b0_0
sklearn=0.0=pypi_0
sqlite=3.37.0=hc218d9a_0
tabulate=0.8.10=pypi_0
tensorboard=2.7.0=pypi_0
tensorboard-data-server=0.6.1=pypi_0
tensorboard-plugin-wit=1.8.0=pypi_0
tensorboardx=2.4.1=pypi_0
thop=0.0.31-2005241907=pypi_0
threadpoolctl=3.0.0=pypi_0
tifffile=2021.11.2=pypi_0
timm=0.6.7=pypi_0
tk=8.6.11=h1ccaba5_0
torch-summary=1.4.4=pypi_0
torchaudio=0.8.0=py38
torchfile=0.1.0=pypi_0
torchmetrics=0.6.2=pypi_0
torchstat=0.0.6=pypi_0
torchvision=0.9.0=py38_cu111
tornado=6.1=pypi_0
tqdm=4.62.3=pypi_0
traceback2=1.4.0=pypi_0
typing-extensions=3.10.0.2=hd3eb1b0_0
typing_extensions=3.10.0.2=pyh06a4308_0
unittest2=1.1.0=pypi_0
urllib3=1.26.7=pypi_0
visdom=0.1.8.9=pypi_0
vtk=9.1.0=pypi_0
websocket-client=1.2.3=pypi_0
werkzeug=2.0.2=pypi_0
wheel=0.37.0=pyhd3eb1b0_1
wslink=1.3.3=pypi_0
xz=5.2.5=h7b6447c_0
yapf=0.32.0=pypi_0
yarg=0.1.9=pypi_0
yarl=1.7.2=pypi_0
zipp=3.6.0=pypi_0
zlib=1.2.11=h7f8727e_4
zstd=1.4.9=haebb681_0
